@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';
@import './page-transition.scss';

head {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: $text-size-base;
  line-height: $text-line-height-base;
  font-family: 'Source Sans Pro', $sans-serif;
  color: $color-text-primary;
  word-break: break-word;
  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__nuxt {
  min-height: 100%;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

// HEADING
h1,
.title-h1 {
  margin: 0;
  font-weight: $h1-font-weight;
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  font-family: $h1-font-family;
  color: $h1-color;

  @media (max-width: $xl) {
    font-size: $h1-font-size - 10px;
  }

  @media (max-width: $lg) {
    font-size: $h1-font-size - 15px;
    line-height: $h1-line-height - 0.13;
  }

  @media (max-width: $md) {
    font-size: $h1-font-size - 30px;
  }
}

h2,
.title-h2 {
  margin: 0;
  font-weight: $h2-font-weight;
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  font-family: $h2-font-family;
  color: $h2-color;

  @media (max-width: $sm) {
    font-size: $h2-font-size - 10;
  }
}

.title-top {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #f16922;

  @media (max-width: $xl) {
    margin-bottom: 5px;
  }
}

// TEXT
.text-s {
  font-size: $text-size-s;
  line-height: $text-line-height-s;
}

.text-xl {
  font-size: $text-size-xl;
  line-height: $text-line-height-xl;
}

.text-xxl {
  font-size: $text-size-xxl;
  line-height: $text-line-height-xxl;

  @media (max-width: $xl) {
    font-size: $text-size-xxl - 4px;
  }
}

.text-xxxl {
  font-size: $text-size-xxxl;
  line-height: $text-line-height-xxxl;

  @media (max-width: $lg) {
    font-size: $text-size-xxxl - 4;
  }

  @media (max-width: $sm) {
    font-size: $text-size-xxxl - 6;
  }
}

p {
  margin: 20px 0;

  @media (max-width: $md) {
    margin: 15px 0;
  }
}

// TEXT_COLOR
.text-black {
  color: $color-black;
}

.text-light {
  color: $color-white;
}

.text-accent {
  color: $color-primary;
}

// TRANSITION
a,
button,
svg {
  transition: all 0.25s $base-easing;
}

.link-wrapper,
.button-wrapper {
  display: flex;
}

// IMAGES
img {
  max-width: 100%;
  height: auto;
}

// MARGINS
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.overflow-hidden {
  overflow: hidden;
}

// Swiper Arrow
.swiper-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  padding: 0;
  background-color: transparent;
  border: 0;

  @media (max-width: $md) {
    width: 30px;
    height: 30px;
  }

  &.swiper-arrow-prev {
    left: 0;
  }

  &.swiper-arrow-next {
    right: 0;
  }

  .icon {
    width: 36px;
    height: 36px;

    @media (max-width: $md) {
      width: 15px;
      height: 15px;
    }
  }
}

// Swiper bullet
.swiper-pagination {
  display: flex;
  width: auto;

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 !important;
    background-color: #a1a8c2;
    opacity: 1;

    &:not(:last-of-type) {
      margin-right: 10px !important;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $color-primary;
  }
}

// Styled dots for list
.list-style-dots {
  list-style: none;

  li {
    position: relative;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 3.5px;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url('../../static/images/ListDot.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
}

.accent-border {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 40px 25px;
  border: 6px solid #f16922;
  border-radius: 21px;

  @media (max-width: $md) {
    max-width: calc(100% - 70px);
    padding: 20px 15px;
  }

  @media (max-width: $md) {
    max-width: calc(100% - 50px);
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -7px;
    width: 9px;
    height: 45%;
    background-color: $body-bg;
    transform: translateY(-50%);
  }
}

.custome-progress {
  position: relative;
  width: 325px;
  height: 325px;

  @media (max-width: $md) {
    width: 270px;
    height: 270px;
  }

  @media (max-width: $sm) {
    margin: 0 auto;
  }

  .ant-progress-inner {
    width: 325px !important;
    height: 325px !important;

    @media (max-width: $md) {
      width: 270px !important;
      height: 270px !important;
    }
  }

  .ant-progress-circle {
    path {
      stroke-width: 0.5px;

      &:first-of-type {
        stroke: #a1a8c2 !important;
        stroke-dasharray: 3px !important;
        stroke-dashoffset: 3px !important;
      }

      &:last-of-type {
        stroke: $color-primary !important;
      }
    }
  }

  .ant-progress-text {
    display: none;
  }

  &-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 105px;
    transform: translate(-50%, -50%);
  }

  &-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    text-align: center;
    color: $color-text-primary;
    transform: translate(-50%, -50%);

    &-title {
      margin: 0;
      font-weight: 400;
      font-size: 24px;
      color: $color-text-primary;
    }

    &-num {
      font-size: 50px;
      line-height: 1;
      color: $color-black;
    }
  }
}

.ant-notification {
  max-width: calc(100vw - 30px) !important;
  margin-right: 15px !important;
}

.custome-ant-notification {
  .ant-notification-notice-message {
    font-weight: 600;
    font-size: 18px;
  }

  .ant-notification-notice-description {
    font-size: 16px;
    line-height: var(--line-height);
    font-family: var(--font-family);
    color: var(--text-color);
  }
}

@import './s-title.scss';
@import './s-partner-program.scss';
@import './s-advantages.scss';
@import './s-form.scss';
@import './dot.scss';

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
